.product-card {
  transition: 0.3s;
}

.product-image {
  overflow: hidden;
  background: #faf6f2;
}

.product-image img {
  width: 100%;
  height: 330px;
  object-fit: contain;
  transition: 0.4s;
}

.product-card:hover .product-image img {
  transform: scale(1.08);
}

.product-card button {
  background: white;
  color: #222;
  transition: 0.3s;
}

.product-card button:hover {
  background: #d54c3f;
  border-color: #d54c3f;
  color: white;
}